#container{
    margin: 0 auto;
    width: 600px;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    width: 70rem;
    height: 70rem;
    justify-content: center;
}

.column{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.square{
    flex-grow: 1;
    /*height: 100%;
    width: 50%;
    margin: auto;*/
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

.hover{
    background: black;
}